@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather.ttf");
}

body {
  margin: 0;
  /* color: #fff; */
  font-family: Open Sans;
}
.fa-bars {
  color: black;
}
.header {
  height: 50px;
}
.header .menu {
  padding: 0px 40px;
}
.header .menu ul {
  list-style: none;
  /* position: relative;
    top: -10px; */
}
.header .menu ul li {
  float: right;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}
.header .menu ul li.active:hover {
  cursor: pointer;
  background: #c1a33b;
  border-radius: 15px;
}
.header .menu ul li.active {
  background: #f0c808;
  border-radius: 15px;
}

.logo {
  height: 100px;
  object-fit: contain;
  margin-top: 50px;
  z-index: 999;
}

.navbar {
  height: 55px;
}
.nav-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.nav-link:hover {
  color: black;
}

.nav-item-active {
  background: #f0c808;
  border-radius: 15px;
}

.nav-item-active:hover {
  cursor: pointer;
  background: #c1a33b;
  border-radius: 15px;
}

.banner {
  background-image: url("./images/05839C9E6_full-3\ 1.png");
  /* padding: 38px 0; */
  height: 400px;
  object-fit: contain;
  position: relative;
}
.banner-text {
  background: rgba(72, 84, 91, 0.85);
  border-radius: 5px;
  font-family: "Merriweather";
  margin-top: 0;
  padding-top: 0;
  width: 40%;
  margin-left: 73px;
  padding: 40px 20px;
  margin-top: 20px;
  position: absolute;
}
.banner-text h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  color: #ffffff;
}

.banner-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.mehr_button_banner {
  background: rgba(202, 212, 222, 0.85);
  border-radius: 50px;
  border: none;
  padding: 4px 12px;
  text-transform: capitalize;
  font-family: "Lato";
  font-size: 13px;
  line-height: 16px;
}

/* -----------Section-2 Starts---------  */

.section-two .main-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

.section-two-description {
  padding: 0 20px;
}

.section-two-description p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.76);
}
.card-section {
  display: flex;
  justify-content: space-evenly;
}
.section-two-card {
  padding: 15px;
  margin-bottom: 30px;
  width: 100%;
}
.card-image {
  width: 100%;
  text-align: center;
}
.card-image > img {
  height: 70px;
  width: 70px;
}
.section-two-card-body > h1 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
.section-two-card-body > h3 {
  font-family: Merriweather;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}
.section-two-card-body > p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

/* ------section-3 Starts------- */
.section-three {
  margin-top: -7rem;
  height: 500px;
  margin-bottom: 4rem;
  background: rgba(222, 235, 247, 0.85);
}

.section_three_left img {
  height: 400px;
  width: 100%;
  margin-top: 8rem;
}

.section_three_right h1 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  margin-top: 11rem;
}
.section_three_right p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.mehr_button {
  background: rgba(202, 212, 222, 0.85);
  border-radius: 50px;
  border: none;
  padding: 4px 12px;
  text-transform: capitalize;
  font-family: "Lato";
  font-size: 13px;
  line-height: 16px;
}

/* ------section-4 Starts------- */

.section-four {
  margin-bottom: 4rem;
}

.section_four_left h1 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  margin-top: 3rem;
}

.section_four_left p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.section_four_right img {
  height: 400px;
  width: 100%;
}

/* ------section-5 Starts------- */

.section-five {
  background: rgba(202, 212, 222, 0.85);
}

.section-five-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  /* line-height: 44px; */
  text-align: center;
  margin-top: 1rem;
  padding: 40px 0 40px 0;
}

.avatar_section {
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  position: relative;
  background: rgba(222, 235, 247, 0.85);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.avatar-image {
  position: absolute;
  top: 24%;
  left: 24%;
  height: 80px;
  width: 80px;
}

.avatar_icon_body h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.avatar_icon_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_five_description {
  padding: 40px 60px;
  display: flex;
}
.section_five_description h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  color: #2664a6;
}
.section_five_description_right p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.input-group {
  width: 60%;
}
.section_five_banner {
  width: 100%;
  overflow: hidden;
}
.section_five_banner img {
  height: 400px;
  width: auto;
}

/* Footer */

.footer_bottom {
  background: #48545b;
  padding: 30px 30px;
}
.footer_bottom h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer_bottom p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.logo_footer {
  height: 150px;
  object-fit: contain;
}

.search-input::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.search-input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}
.send-button {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50px;
  padding: 13px 40px;
  background: #f0c808;
}

.input-section {
  width: 50%;
}
/* Media queries */
@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  .logo {
    margin-top: auto;
    height: 50px;
  }
  .banner-text {
    width: 100%;
    margin-left: 0;
    margin-top: 17rem;
  }
  .banner-text h1 {
    font-size: 35px;
    line-height: 44px;
  }
  .banner-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  /* -----------Section-2---------  */
  .section-two .main-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15rem !important;
  }
  .section-two-description p {
    font-size: 13px;
    line-height: 16px;
  }
  .section-three {
    margin-bottom: 1rem;
  }

  .section-two-card-body > h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .section-two-card-body > h3 {
    font-size: 15px;
    line-height: 19px;
  }
  .section-two-card-body > p {
    font-size: 13px;
    line-height: 16px;
  }
  .card-image > img {
    height: 40px;
    width: 40px;
  }

  .div_img img {
    height: 320px;
  }

  /* -----------Section-3---------  */

  .section-three {
    height: auto;
  }
  .section_three_right h1 {
    margin-top: 2rem;
    text-align: center;
  }
  .mehr_button {
    margin-bottom: 2rem;
  }

  .section_three_right h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .section_three_right p {
    font-size: 13px;
    line-height: 16px;
  }
  .mehr_button {
    font-size: 11px;
    line-height: 13px;
  }
  .mehr_button_banner {
    font-size: 11px;
    line-height: 13px;
  }
  .section_three_left {    
    width: 100%;
    overflow: hidden;
  }
  .section_three_left img {
    height: 320px;
    /* width: auto; */
  }

  /* -----------Section-4---------  */
  .section_four_row {
    display: flex;
    flex-direction: column-reverse;
  }

  .hidden_div {
    display: none;
  }

  .section_four_left h1 {
    text-align: center;    
    font-size: 20px;
    line-height: 25px;
  }
  .section_four_left p {   
    font-size: 13px;
    line-height: 16px;
  }
  .section_four_right {    
    width: 100%;
    overflow: hidden;
  }
  .section_four_right img {
    height: 320px;
    width: auto;
  }

  /* -----------Section-5---------  */

  .avatar_section {
    flex-direction: column;
    align-items: center;
  }
  .section_five_description {
    flex-direction: column;
    padding: 20px;
  }
  .section_five_description h1 {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
  .section_five_description_right p {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
  }
  .input-section {
    width: 100%;
  }

  .send-button {
    padding: 13px 20px;
  }
  /* Footer */
  .section-five-title {
    font-size: 20px;
    line-height: 25px;
  }
  .avatar_icon_body h3 {
    font-size: 15px;
    line-height: 19px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .avatar-image {
    width: 50px;
    height: 50px;
  }
  .input-group {
    width: 100%;
  }

  .logo_footer {
    height: 80px;
  }
  .footer_bottom p {
    font-size: 11px;
    line-height: 13px;
  }

  .search-input::placeholder {
    font-size: 11px;
    line-height: 13px;
  }
  .send-button {
    font-size: 11px;
    line-height: 13px;
  }

  .section_five_banner img {
    height: 320px;
  }
}
